/* .body {
    width: auto;
} */

.intro {
    height: 100vh;
    /* width: 100vw;   */
    width: auto;
}

.intro-container {
    /* display: flex; */
    position: relative;
    width: 80vw;
    margin-top: 5vw;
    margin-left: 10vw;
    /* left: 15vw;
    top: 15vh; */
    text-align: left;
}

.navbar {
    scroll-behavior: smooth;
    background-color: transparent;
    float: right;
    margin-top: 25px;
    margin-right: 50px;
    /* display: flex; */
    /* align-items: flex-end; */
    
}

.link-button {
    background-color: transparent;
    height: 40px;
    border: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20%;
    /* float right */
    /* margin-right: auto; */
}

.link-button:hover {
    background-color: #777777;
    transition:.5s ease all;
    opacity: 1
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.Me {
    width: 20vw;
    height: 20vw;
    position: relative;    
  }

.name {
      position: relative;
      color: #fff;
      margin-top: -1vw;
      font-size: 4vw;
}


.job-title {
    position: relative;
    color: #fff;
    margin-top: -2vw;
    font-size: 2vw;
}


.info {
    position: relative;
    color: #fff;
    margin-top: -1vw;
    font-size: 2vw;
}

.button-container {
    display: flex;
}

.button {
    background-color: transparent;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid azure;
    transition:.5s ease all
}

.button:hover {
    background-color: #777777;
    opacity: 1
}
.button-image {
    width: 4vw;
    height: 4vw;
}

/* .button-resume {
    color: azure;
    height: 4vw;
    background-color: transparent;
    border-radius: 40%;
    margin-right: 10px;
    border: 1px solid azure;
} */
.button-resume {
    /* top: -1vw; */
    background-color: transparent;
    display:inline-block;
    color:#fff;
    padding:15px 25px;
    border:1px solid #fff;
    border-radius:30px;
    transition:.5s ease all
}

.button-resume:hover {
    background-color: #777777;
    opacity: 1
}




/* .buttons {
    width: 100vw;
    align-items: right;
} */

